{% extends 'ip_api/base.html' %} {% block content %}
<div class="container">
  <div class="row align-items-center" style="height: 100vh">
    <div class="col d-flex justify-content-center">
      <div class="square-box">
        <h1 id="header-title">IP Tracker Locator</h1>
        <form class="form-group" method="POST">
          {% csrf_token %}
          <label class="m-2 form-label" for="ipaddress">IP Address: </label>
          <input
            class="form-control"
            type="text"
            id="ipaddress"
            name="ip_address"
            placeholder="e.g 172.217.22.14"
          />
          <div class="d-grid mt-2">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
