body {
    background-image: url("../img/background.jpg");
}
#header-title {
    font-size:30px;
    font-family:Verdana;
    text-align:center;
}
.square-box {
    padding: 40px 40px 40px 40px;
    background-color:rgb(121, 219, 255);
    box-shadow: 20px 20px 10px black;
}